* {
    margin: 0px;
    padding: 0px;
    font-family: Lato;
}

.header-container {
    background-color: #E554731A;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-container img {
    width: 635px;
    height: 800px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header-description {
    color: #272727;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.primary-btn {
    background-color: #E55473;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

/* Featured flower section style starting here */

.featured-flower-item {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-around;
}

.featured-header {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 100px;
}

.featured-description {
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.featured-item img {
    max-width: 250px;
    max-height: 250px;
}

.featured-item {
    width: 260px;
    height: 320px;
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.item-desc {
    display: flex;
    justify-content: space-around;
}

.item-description {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* icon corner style start here */
.icon-corner {
    background-color: #2727270D;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 50px 100px;
    padding: 80px;
}

/* hot deal section style here */
.hot-deal {
    background-color: #E554730D;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
}

.highlighted-text {
    color: #E55473;
}

.hot-deal-content {
    text-align: center;
}

.hot-deal-header {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
}

.hot-deal-paragraph {
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.hot-deal-img{
    width: 300px;
    height: 300px;
}

/* Instagram flower highlighted section style here */

.instagram-flower-highlighted{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin: 10px 50px;
}

.instagram-flower-highlighted img{
    width: 180px;
    height: 200px;
}
/* subscribe section style */
.subscribe-email{
    padding: 18px 50px;
    border: none;
    border-radius: 5px;
}

.latest-deal img{
    width: 900px;
    margin-bottom: -200px;
}

.latest-deal{
    text-align: center;
    margin: 30px 0px 120px 0;
}

/* footer design here */
footer{
    background-color: #111010;
    text-align: center;
    color: white;
    padding: 50px;
}

.copyright{
    margin-top: 10px;
}