* {
    margin: 0px;
    padding: 0px;
    font-family: Lato;
}

.header-container {
    background-color: #E554731A;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-container img {
    width: 635px;
    height: 800px;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.header-description {
    color: #272727;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.primary-btn {
    background-color: #E55473;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

/* Featured flower section style starting here */

.featured-flower-item {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-around;
}

.featured-header {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 200px;
}

.featured-description {
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.featured-item {
    width: 464px;
    height: 538px;
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.item-desc {
    display: flex;
    justify-content: space-around;
}

.item-description {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* icon corner style start here */
